body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-image: url("https://images.unsplash.com/photo-1515524738708-327f6b0037a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ff90e72db15176afc516fac82d04f14f&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    height: 40vw;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36pt;
    color: white;
}

main {
    padding: 10px 100px 10px 100px;

}

#profile-picture {
    border-radius: 50%;
    width: 150px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

a {
    color: white;
    font-weight: bold;
}
